.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px 156px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  position: relative;

  height: 200px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease;

  width: 360px;
}

.gallery-item:hover {
  transform: scale(1.05);
}
.gallery-item:focus {
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }
}

@media (max-width: 900px) {
  .gallery-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 600px) {
  .gallery-item {
    width: 100%;
  }
}
